src/fpmlpy/schemas/5-12/src/schema/fpml-pretrade-processes.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
== Copyright (c) 2002- All rights reserved. 
== Financial Products Markup Language is subject to the FpML public license. 
== A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.fpml.org/FpML-5/master" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:fpml-annotation="http://www.fpml.org/annotation" xmlns:view="http://www.fpml.org/views" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.fpml.org/FpML-5/master" elementFormDefault="qualified" attributeFormDefault="unqualified" version="$Revision: 13881 $" ecore:nsPrefix="fpml" ecore:package="org.fpml" ecore:documentRoot="FpML">
  <xsd:annotation>
    <xsd:appinfo>
      <view:exclusive view="pretrade"/>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:include schemaLocation="fpml-msg.xsd"/>
  <xsd:complexType name="ComponentProduct">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Definition of an underlying product which is part of a package. A full product definition of the component may be provided elsewhere within the document, in this case the product definition should be referred to by specifying productDefinitionsReference. In the case when the component is not defined within the product definitions document, product id should be provided.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="productId" type="ProductId"/>
        <xsd:element name="productDefinitionReference" type="ProductReference"/>
      </xsd:choice>
      <xsd:choice>
        <xsd:annotation>
          <xsd:documentation>For cross-asset packages it may be necessary to use either PayerReceiver.model or BuyerSeller.model whichever is logically applicable to the component product. For example, a bond will require BuyerSeller.model but a swap will require PayerReceiver.model.</xsd:documentation>
        </xsd:annotation>
        <xsd:group minOccurs="0" ref="PayerReceiver.model"/>
        <xsd:group minOccurs="0" ref="BuyerSeller.model"/>
      </xsd:choice>
      <xsd:element name="hedgeRiskWeight" type="xsd:double" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Risk weight is applicable to packages with RiskNeutral hedge type. For example, a risk weight of 1.0 on each leg would means that the quantities are calculated such that the risk of both legs is equal.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="componentId" type="xsd:ID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ComponentTradeSideReference">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Reference to a component of the package that defines the package trade side.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Reference">
        <xsd:attribute name="href" type="xsd:IDREF" use="required" ecore:reference="ComponentProduct"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CreditApprovalModel">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="creditApprovalModelScheme" type="NonEmptyURI" default="http://www.fpml.org/coding-scheme/credit-approval-model"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CreditLimitReport">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NotificationMessage">
        <xsd:sequence>
          <xsd:element name="creditLimitInformation" type="CreditLimitInformation" maxOccurs="unbounded" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo>
                <view:override view="confirmation" minOccurs="1"/>
                <view:override view="legal" minOccurs="1"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:group ref="PartiesAndAccounts.model" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CreditLimitResponse">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NotificationMessage">
        <xsd:sequence>
          <xsd:element name="response" type="SetCreditLimitResponseEnum" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo>
                <view:override view="confirmation" minOccurs="1"/>
                <view:override view="legal" minOccurs="1"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="reason" type="CreditLimitCheckReason" minOccurs="0"/>
          <xsd:group ref="PartiesAndAccounts.model" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CreditLimitCheckReason">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:choice>
      <xsd:sequence>
        <xsd:element name="reasonCode" type="CreditLimitCheckReasonCode">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">reason codes for credit limit check messages</xsd:documentation>
            <xsd:appinfo>
              <view:override view="pretrade" minOccurs="1"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="description" type="String" minOccurs="0"/>
      </xsd:sequence>
      <xsd:element name="description" type="String">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">free form description of the reason</xsd:documentation>
          <xsd:appinfo>
            <view:override view="pretrade" minOccurs="1"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="CreditLimitCheckReasonCode">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="creditLimitCheckReasonScheme" type="NonEmptyURI" default="http://www.fpml.org/coding-scheme/credit-limit-check-reason"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CreditLimitExtended">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="CreditLimit">
        <xsd:sequence>
          <xsd:element name="rfqRevalidation" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="orderRevalidation" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CreditLimitInformationExtended">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="partyInformation" type="PartyTradeInformation" minOccurs="0">
        <xsd:annotation>
          <xsd:appinfo>
            <view:override view="confirmation" minOccurs="1"/>
            <view:override view="legal" minOccurs="1"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="limitModel" type="LimitModelEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:appinfo>
            <view:override view="confirmation" minOccurs="1"/>
            <view:override view="legal" minOccurs="1"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="creditLimit" type="CreditLimitExtended" maxOccurs="unbounded" minOccurs="0">
        <xsd:annotation>
          <xsd:appinfo>
            <view:override view="confirmation" minOccurs="1"/>
            <view:override view="legal" minOccurs="1"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreditRiskLimit">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:annotation>
          <xsd:appinfo>
            <view:override view="confirmation" minOccurs="1"/>
            <view:override view="legal" minOccurs="1"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:element name="fullApproval" type="xsd:boolean"/>
        <xsd:sequence>
          <xsd:element name="requestedNotionalAmount" type="Money" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Specifies the fixed amount requested expressed as notional amount.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="approvedNotionalAmount" type="Money" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">(partial approval) Specifies the fixed amount approved expressed as notional amount.</xsd:documentation>
              <xsd:appinfo>
                <view:override view="confirmation" minOccurs="1"/>
                <view:override view="legal" minOccurs="1"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="requestedNumberOfOptions" type="xsd:decimal" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">(partial approval) Specifies the fixed amount approved expressed as number of options.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="approvedNumberOfOptions" type="xsd:decimal" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">(partial approval) Specifies the fixed amount approved expressed as number of options.</xsd:documentation>
              <xsd:appinfo>
                <view:override view="confirmation" minOccurs="1"/>
                <view:override view="legal" minOccurs="1"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="requestedNumberOfUnits" type="xsd:decimal" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">(partial approval) Specifies the fixed amount approved expressed as number of units.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="approvedNumberOfUnits" type="xsd:decimal" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">(partial approval) Specifies the fixed amount approved expressed as number of units.</xsd:documentation>
              <xsd:appinfo>
                <view:override view="confirmation" minOccurs="1"/>
                <view:override view="legal" minOccurs="1"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:choice>
      <xsd:element name="reason" type="CreditLimitCheckReason" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="limitExpiryTimeStamp" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:appinfo>
            <view:override view="confirmation" minOccurs="1"/>
            <view:override view="legal" minOccurs="1"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="creditLimitReference" type="CreditLimitReference" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="originalRequestDetails" type="OriginalRequestDetails" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreditRiskLimitRefused">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="limitRefused" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:appinfo>
            <view:override view="confirmation" minOccurs="1"/>
            <view:override view="legal" minOccurs="1"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="reason" type="CreditLimitCheckReason" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="limitExpiryTimeStamp" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:appinfo>
            <view:override view="confirmation" minOccurs="1"/>
            <view:override view="legal" minOccurs="1"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="creditLimitReference" type="CreditLimitReference" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="originalRequestDetails" type="OriginalRequestDetails" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HedgeType">
    <xsd:simpleContent>
      <xsd:extension base="NonEmptyScheme">
        <xsd:attribute name="hedgeTypeScheme" type="NonEmptyURI" default="http://www.fpml.org/coding-scheme/hedge-type">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The identifier scheme used with this hedgeType. A unique URI to determine the type of hedging.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LimitCheckApproved">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NotificationMessage">
        <xsd:sequence>
          <xsd:element name="creditRiskLimit" type="CreditRiskLimit" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo>
                <view:override view="confirmation" minOccurs="1"/>
                <view:override view="legal" minOccurs="1"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:group ref="PartiesAndAccounts.model" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LimitCheckRefused">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NotificationMessage">
        <xsd:sequence>
          <xsd:element name="creditRiskLimit" type="CreditRiskLimitRefused" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo>
                <view:override view="confirmation" minOccurs="1"/>
                <view:override view="legal" minOccurs="1"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:group ref="PartiesAndAccounts.model" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OrderBookId">
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="orderBookIdScheme" type="NonEmptyURI"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="OrderFill">
    <xsd:sequence>
      <xsd:element name="orderId" type="NormalizedString" minOccurs="0">
        <xsd:annotation>
          <xsd:appinfo>
            <view:override view="confirmation" minOccurs="1"/>
            <view:override view="legal" minOccurs="1"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fillId" type="NormalizedString" minOccurs="0">
        <xsd:annotation>
          <xsd:appinfo>
            <view:override view="confirmation" minOccurs="1"/>
            <view:override view="legal" minOccurs="1"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="size" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:appinfo>
            <view:override view="confirmation" minOccurs="1"/>
            <view:override view="legal" minOccurs="1"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="price" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:appinfo>
            <view:override view="confirmation" minOccurs="1"/>
            <view:override view="legal" minOccurs="1"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="executionDateTime" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:appinfo>
            <view:override view="confirmation" minOccurs="1"/>
            <view:override view="legal" minOccurs="1"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="counterpartyReference" type="PartyReference" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderPrice">
    <xsd:sequence>
      <xsd:element name="value" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="additionalValue" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="stopValue" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="peggedValue" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="indicativeAuctionValue" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="indicativeAuctionVolume" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="priceUnits" type="PriceQuoteUnits" minOccurs="0"/>
      <xsd:element name="priceMultiplier" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="priceCurrency" type="Currency" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderPriority">
    <xsd:sequence>
      <xsd:element name="priorityChangeTimestamp" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="prioritySize" type="xsd:decimal" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderProductSummary">
    <xsd:sequence>
      <xsd:element name="productId" type="ProductId" minOccurs="0"/>
      <xsd:element name="expirationDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="terminationDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="leg2Currency" type="Currency" minOccurs="0"/>
      <xsd:element name="underlyingInstrumentId" type="InstrumentId" minOccurs="0"/>
      <xsd:element name="optionType" type="OptionTypeEnum" minOccurs="0"/>
      <xsd:element name="strike" type="OrderStrike" minOccurs="0"/>
      <xsd:element name="quantityCurrency" type="Currency" minOccurs="0"/>
      <xsd:element name="quantityUnit" type="QuantityUnit" minOccurs="0"/>
      <xsd:element name="exerciseStyle" type="ExerciseStyleEnum" minOccurs="0"/>
      <xsd:element name="settlementType" type="SettlementTypeEnum" minOccurs="0"/>
      <xsd:element name="upfrontPayment" type="OrderUpfrontPayment" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderRoles">
    <xsd:sequence>
      <xsd:element name="orderingPartyReference" type="PartyReference" minOccurs="0"/>
      <xsd:element name="quotingPartyReference" type="PartyReference" minOccurs="0"/>
      <xsd:element name="quotingPartySide" type="BuySellEnum" minOccurs="0"/>
      <xsd:element name="tradingVenuePartyReference" type="PartyReference" minOccurs="0"/>
      <xsd:element name="clientPartyReference" type="PartyReference" minOccurs="0"/>
      <xsd:element name="arrangingPersonReference" type="PersonReference" minOccurs="0"/>
      <xsd:element name="investmentDeciderReference" type="PersonReference" minOccurs="0"/>
      <xsd:element name="executionDeciderReference" type="PersonReference" minOccurs="0"/>
      <xsd:element name="nonExecutingBrokerReference" type="PartyReference" minOccurs="0"/>
      <xsd:element name="tradingCapacity" type="String" minOccurs="0"/>
      <xsd:element name="liquidityProvision" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="tradingWaiver" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="passiveOrder" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="passiveOrAggressive" type="PassiveOrAggressiveEnum" minOccurs="0"/>
      <xsd:element name="selfExecutionPrevented" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderReport">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:appinfo>
          <view:override view="pretrade" minOccurs="1"/>
        </xsd:appinfo>
      </xsd:annotation>
      <xsd:choice minOccurs="0">
        <xsd:annotation>
          <xsd:appinfo>
            <view:override view="pretrade" minOccurs="1"/>
            <view:override view="confirmation" minOccurs="1"/>
            <view:override view="legal" minOccurs="1"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:annotation>
            <xsd:appinfo>
              <view:override view="pretrade" minOccurs="1"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:element name="requesterOrderId" type="NormalizedString">
            <xsd:annotation>
              <xsd:appinfo>
                <view:override view="pretrade" minOccurs="1"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="orderId" type="NormalizedString" minOccurs="0"/>
        </xsd:sequence>
        <xsd:element name="orderId" type="NormalizedString">
          <xsd:annotation>
            <xsd:appinfo>
              <view:override view="pretrade" minOccurs="1"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:element name="receiverOrderId" type="NormalizedString" minOccurs="0"/>
      <xsd:element name="strategyId" type="NormalizedString" minOccurs="0"/>
      <xsd:element name="submittedTime" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="receivedTime" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="roles" type="OrderRoles" minOccurs="0"/>
      <xsd:element name="directElectronicAccess" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="isAggregated" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="additionalInfo" type="String" minOccurs="0"/>
      <xsd:element name="orderBookId" type="OrderBookId" minOccurs="0"/>
      <xsd:element name="instrumentId" type="InstrumentId" minOccurs="0"/>


      <xsd:element name="order" type="String" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">echo back the order (placeholder type for now)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="orderClassification" type="String" minOccurs="0"/>
      <xsd:element name="validity" type="OrderValidity" minOccurs="0"/>
      <xsd:element name="tradingPhases" type="NormalizedString" minOccurs="0"/>
      <xsd:element name="priority" type="OrderPriority" minOccurs="0"/>
      <xsd:element name="productSummary" type="OrderProductSummary" minOccurs="0"/>
      <xsd:element name="price" type="OrderPrice" minOccurs="0"/>
      <xsd:element name="status" type="OrderStatusEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:appinfo>
            <view:override view="confirmation" minOccurs="1"/>
            <view:override view="legal" minOccurs="1"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="statusCode" type="String" minOccurs="0"/>
      <xsd:element name="shortSale" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="routingStrategy" type="String" minOccurs="0"/>
      <xsd:sequence>
        <xsd:element name="reason" type="Reason" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Reason for a rejected quote</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="counterofferQuote" type="String" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Supply a counter-offer quote, e.g. if order is rejected / DUMMY placeholder.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
      <xsd:sequence>
        <xsd:element name="totalSize" type="xsd:decimal" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Number of units of the product being ordered.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="displayedSize" type="xsd:decimal" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Number of units of the product being displayed.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="minimumTotalFillSize" type="xsd:decimal" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Mimimum size that can be filled in total</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="minimumSingleFillSize" type="xsd:decimal" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Minimum size that can be filled in a single fill.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="minimumOnFirstFillOnly" type="xsd:boolean" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Does minimum execution size apply only to first fill?</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="fills" type="xsd:integer" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Number of fills so far.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="filledSize" type="xsd:decimal" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Number of units of the product filled so far</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="remainingSize" type="xsd:decimal" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Number of units of the product remaining to be filled</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="fill" type="OrderFill" minOccurs="0" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Info about the fills</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:choice minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo>
              <view:override view="confirmation" minOccurs="0"/>
              <view:override view="legal" minOccurs="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:element name="trade" type="Trade">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">trade description.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="tradeIdentifier" type="TradeIdentifier" maxOccurs="unbounded"/>
          <xsd:element name="tradePackage" type="TradePackage">
            <xsd:annotation>
              <xsd:appinfo>
                <view:skip view="transparency"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
        <xsd:element name="creditLimitReference" type="CreditLimitReference" minOccurs="0" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:appinfo>
              <view:exclusive view="pretrade"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderStatus">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:appinfo>
          <view:override view="pretrade" minOccurs="1"/>
        </xsd:appinfo>
      </xsd:annotation>
      <xsd:choice>
        <xsd:annotation>
          <xsd:appinfo>
            <view:override view="pretrade" minOccurs="1"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:annotation>
            <xsd:appinfo>
              <view:override view="pretrade" minOccurs="1"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:element name="requesterOrderId" type="NormalizedString">
            <xsd:annotation>
              <xsd:appinfo>
                <view:override view="pretrade" minOccurs="1"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="orderId" type="NormalizedString" minOccurs="0"/>
        </xsd:sequence>
        <xsd:element name="orderId" type="NormalizedString">
          <xsd:annotation>
            <xsd:appinfo>
              <view:override view="pretrade" minOccurs="1"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:element name="submittedTime" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="order" type="String" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">echo back the order (placeholder type for now)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="status" type="OrderStatusEnum"/>
      <xsd:choice minOccurs="0">
        <xsd:sequence>
          <xsd:element name="reason" type="Reason" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Reason for a rejected quote </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="counterofferQuote" type="String" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Supply a counter-offer quote, e.g. if order is rejected / DUMMY placeholder.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="totalSize" type="xsd:decimal" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Number of units of the product being ordered.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="fills" type="xsd:integer" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Number of fills so far.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="filledSize" type="xsd:decimal" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Number of units of the product filled so far</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="remainingSize" type="xsd:decimal" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Number of units of the product remaining to be filled</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="fill" type="OrderFill" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Info about the fills</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:choice minOccurs="0">
            <xsd:element name="trade" type="Trade">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">trade description.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="tradeIdentifier" type="TradeIdentifier" maxOccurs="unbounded"/>
            <xsd:element name="tradePackage" type="TradePackage">
              <xsd:annotation>
                <xsd:appinfo>
                  <view:skip view="transparency"/>
                </xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <xsd:element name="creditLimitReference" type="CreditLimitReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderStatusNotification">
    <xsd:complexContent>
      <xsd:extension base="NotificationMessage">
        <xsd:sequence>
          <xsd:element name="orderStatus" type="OrderStatus" maxOccurs="unbounded"/>
          <xsd:group ref="PartiesAndAccounts.model" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OrderStatusReport">
    <xsd:complexContent>
      <xsd:extension base="CorrectableRequestMessage">
        <xsd:sequence>
          <xsd:element name="orderStatus" type="OrderReport" maxOccurs="unbounded" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo>
                <view:override view="confirmation" minOccurs="1"/>
                <view:override view="legal" minOccurs="1"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:group ref="PartiesAndAccounts.model" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OrderStrike">
    <xsd:sequence>
      <xsd:element name="price" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="currency" type="Currency" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderUpfrontPayment">
    <xsd:sequence>
      <xsd:element name="basisPointValue" type="xsd:decimal" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrderValidity">
    <xsd:sequence>
      <xsd:element name="validityType" type="String" minOccurs="0"/>
      <xsd:element name="validityPeriod" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="restriction" type="String" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OriginalRequestDetails">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="requestingPartyReference" type="PartyReference" minOccurs="0" fpml-annotation:deprecated="true" fpml-annotation:deprecatedReason="Deprecated in favor of existing onBehalfOf element."/>
      <xsd:element name="creditApprovalRequestType" type="CreditApprovalRequestTypeEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:appinfo>
            <view:override view="confirmation" minOccurs="1"/>
            <view:override view="legal" minOccurs="1"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="creditApprovalModel" type="CreditApprovalModel" minOccurs="0">
        <xsd:annotation>
          <xsd:appinfo>
            <view:override view="confirmation" minOccurs="1"/>
            <view:override view="legal" minOccurs="1"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:choice minOccurs="0">
        <xsd:annotation>
          <xsd:appinfo>
            <view:override view="confirmation" minOccurs="1"/>
            <view:override view="legal" minOccurs="1"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:element name="originalTrade" type="Trade">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Fully describes the original trade (prior to the exercise).</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="tradeIdentifier" type="TradeIdentifier" maxOccurs="unbounded"/>
        <xsd:element name="originalPackage" type="TradePackage">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Fully describes the original trade package (prior to the exercise).</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="packageIdentifier" type="IssuerTradeId"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PackageName">
    <xsd:simpleContent>
      <xsd:extension base="NonEmptyScheme">
        <xsd:attribute name="packageNameScheme" type="NonEmptyURI">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">A unique URI to determine the source system providing the package name.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ProductConventions">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">ProductConventions can be used to specify conventions enforced by a trading platform.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="maximumQuotePrecisionDecimal" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Maximum precision in decimal places for providing quotes.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="minimumFillSize" type="xsd:double" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Minimum size of a contract, when a given contract is traded, its size must be a multiple of this value.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="measureType" type="AssetMeasureType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Name of the economic value that serves as a single quote value during negotiation and will be used to determine best bid/offer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="quoteUnits" type="PriceQuoteUnits">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Units in which quote values are measured.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductDefinition">
    <xsd:sequence>
      <xsd:element name="description" type="String" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Optional "user-friendly" name for the product used for annotation purposes</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="conventions" type="ProductConventions" minOccurs="0"/>
      <xsd:choice>
        <xsd:element name="package" type="StandardPackage">
          <xsd:annotation>
            <xsd:documentation>Definition of a standard package that consists out of several products</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element ref="product">
          <xsd:annotation>
            <xsd:documentation>FpML product definition</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:element ref="tradeSideReference" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>If this definition is for a single product, tradeSideReference can be of type tradeSideRelativeToSwapStream and refer to the swapStream id that determines the trade side. If this definition is for a standard package, tradeSideReference can be of type tradeSideRelativeToComponent which refers to the component product that determines the trade side.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID"/>
  </xsd:complexType>
  <xsd:complexType name="ProductDefinitionsHeader">
    <xsd:sequence>
      <xsd:element name="platformDate" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProductDefinitionsReport">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The primary use case for this message is for an execution venue to report all, or a subset of, product definitions that it supports to its customer.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ResponseMessage">
        <xsd:sequence>
          <xsd:element name="productDefinitionsHeader" type="ProductDefinitionsHeader"/>
          <xsd:choice>
            <xsd:annotation>
              <xsd:appinfo>
                <view:override view="pretrade" minOccurs="1" />
              </xsd:appinfo>
            </xsd:annotation>
            <xsd:sequence>
              <xsd:element name="definition" maxOccurs="unbounded" type="ProductDefinition">
                <xsd:annotation>
                  <xsd:appinfo>
                    <view:override view="pretrade" minOccurs="1" />
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="queryProduct" type="QueryProduct" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>A type representing a portfolio obtained by querying the set of trades held in a repository. It contains trades matching the intersection of all criteria specified using one or more queryParameters or trades matching the union of two or more child queryPortfolios.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
            <xsd:element name="queryProduct" type="QueryProduct">
              <xsd:annotation>
                <xsd:documentation>A type representing a portfolio obtained by querying the set of trades held in a repository. It contains trades matching the intersection of all criteria specified using one or more queryParameters or trades matching the union of two or more child queryPortfolios.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <xsd:group ref="PartiesAndAccounts.model" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RequestLimitCheck">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="CorrectableRequestMessage2">
        <xsd:sequence>
          <xsd:element name="requestingPartyReference" type="PartyReference" minOccurs="0" fpml-annotation:deprecated="true" fpml-annotation:deprecatedReason="Deprecated in favor of existing onBehalfOf element."/>
          <xsd:element name="creditApprovalRequestType" type="CreditApprovalRequestTypeEnum" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo>
                <view:override view="confirmation" minOccurs="1"/>
                <view:override view="legal" minOccurs="1"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="creditApprovalModel" type="CreditApprovalModel" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Code to indicate the credit approval model e.g., PushToPing, PushToStop, Plus1ToStop, Plus1ToPing, Ping.</xsd:documentation>
              <xsd:appinfo>
                <view:override view="confirmation" minOccurs="1"/>
                <view:override view="legal" minOccurs="1"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:choice minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo>
                <view:override view="confirmation" minOccurs="1"/>
                <view:override view="legal" minOccurs="1"/>
              </xsd:appinfo>
            </xsd:annotation>
            <xsd:group ref="TradingEvents.model"/>
            <xsd:element name="deClear" type="DeClear">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">A structure describing a declear event. The deClear event allows a firm to request that a trade be removed from clearing, or a clearing service to request consent for this, or to report that it has been done.</xsd:documentation>
                <xsd:appinfo>
                  <view:skip view="pretrade" rationale="Unsupported"/>
                  <view:skip view="transparency" rationale="Unsupported"/>
                </xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <xsd:sequence>
            <xsd:element name="quote" type="BasicQuotation" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
          <xsd:group ref="PartiesAndAccounts.model"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RequestProductDefinitions">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The primary use case for this message is for an execution venue customer to request product definitions of all (or a subset of) products that the execution venue supports.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="CorrectableRequestMessage">
        <xsd:sequence>
          <xsd:element name="productDefinitionsHeader" type="ProductDefinitionsHeader"/>
          <xsd:choice>
            <xsd:annotation>
              <xsd:appinfo>
                <view:override view="pretrade" minOccurs="1" />
              </xsd:appinfo>
            </xsd:annotation>
            <xsd:sequence>
              <xsd:element name="definition" maxOccurs="unbounded" type="ProductDefinition">
                <xsd:annotation>
                  <xsd:appinfo>
                    <view:override view="pretrade" minOccurs="1" />
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="queryProduct" type="QueryProduct" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>A type representing a portfolio obtained by querying the set of trades held in a repository. It contains trades matching the intersection of all criteria specified using one or more queryParameters or trades matching the union of two or more child queryPortfolios.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
            <xsd:element name="queryProduct" type="QueryProduct">
              <xsd:annotation>
                <xsd:documentation>A type representing a portfolio obtained by querying the set of trades held in a repository. It contains trades matching the intersection of all criteria specified using one or more queryParameters or trades matching the union of two or more child queryPortfolios.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <xsd:group ref="PartiesAndAccounts.model" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RequestProductDefinitionsRetracted">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Message to cancel the product definition request message sent by the execution venue customer to the execution venue.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NonCorrectableRequestMessage">
        <xsd:sequence>
          <xsd:element name="productDefinitionsHeader" type="ProductDefinitionsHeader" minOccurs="0"/>
          <xsd:choice>
            <xsd:annotation>
              <xsd:appinfo>
                <view:override view="pretrade" minOccurs="1" />
              </xsd:appinfo>
            </xsd:annotation>
            <xsd:sequence>
              <xsd:element name="definition" maxOccurs="unbounded" type="ProductDefinition">
                <xsd:annotation>
                  <xsd:appinfo>
                    <view:override view="pretrade" minOccurs="1" />
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="queryProduct" type="QueryProduct" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>A type representing a portfolio obtained by querying the set of trades held in a repository. It contains trades matching the intersection of all criteria specified using one or more queryParameters or trades matching the union of two or more child queryPortfolios.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
            <xsd:element name="queryProduct" type="QueryProduct">
              <xsd:annotation>
                <xsd:documentation>A type representing a portfolio obtained by querying the set of trades held in a repository. It contains trades matching the intersection of all criteria specified using one or more queryParameters or trades matching the union of two or more child queryPortfolios.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <xsd:group ref="PartiesAndAccounts.model" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RestoreCredit">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NonCorrectableRequestMessage">
        <xsd:sequence>
          <xsd:element name="reason" type="CreditLimitCheckReason" minOccurs="0"/>
          <xsd:element name="creditLimitInformation" type="CreditLimitInformationExtended" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:group ref="PartiesAndAccounts.model"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SetCreditLimit">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NonCorrectableRequestMessage">
        <xsd:sequence>
          <xsd:element name="creditLimitInformation" type="CreditLimitInformationExtended" maxOccurs="unbounded" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo>
                <view:override view="confirmation" minOccurs="1"/>
                <view:override view="legal" minOccurs="1"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:group ref="PartiesAndAccounts.model"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StandardPackage">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A standard package is a type of strategy which consists of several single instruments, also known as underlying instruments. All underlying instruments must be also specified in the product definition, so that the can be referred to by their identifier.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="productId" type="ProductId" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="packageName" type="PackageName"/>
      <xsd:element name="hedgeType" type="HedgeType">
        <xsd:annotation>
          <xsd:documentation>Hedged type defines how quantities on each component product are calculated. If hedge type is DeltaNeutral, component products must have HedgeRiskWeights defined.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="component" type="ComponentProduct" minOccurs="2" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SuspendCredit">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NonCorrectableRequestMessage">
        <xsd:sequence>
          <xsd:group ref="PartyAndAccountReferences.model"/>
          <xsd:element name="creditLimit" type="CreditLimitBase" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="reason" type="CreditLimitCheckReason" minOccurs="0"/>
          <xsd:group ref="PartiesAndAccounts.model"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SwapStreamSideReference">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Reference to a swapStream of the swap that defines the trade side.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Reference">
        <xsd:attribute name="href" type="xsd:IDREF" use="required" ecore:reference="SwapStream"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="tradeSideReference" type="Reference" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An abstract element used as a place holder for the substituting trade side reference depending on product type.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="tradeSideRelativeToComponent" type="ComponentTradeSideReference" substitutionGroup="tradeSideReference">
    <xsd:annotation>
      <xsd:documentation>Refer to the component product defined within standard package definition where this field is defined.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="tradeSideRelativeToSwapStream" type="SwapStreamSideReference" substitutionGroup="tradeSideReference">
    <xsd:annotation>
      <xsd:documentation>Refer to the swap stream defined within the product definition where this field is defined.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ***************************************************************** -->
  <!-- Request Limit Check / Messages                                    -->
  <!-- ***************************************************************** -->
  <xsd:element name="requestLimitCheck" type="RequestLimitCheck">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="limitCheckApproved" type="LimitCheckApproved">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="limitCheckRefused" type="LimitCheckRefused">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="creditLimitReport" type="CreditLimitReport">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="creditLimitException" type="Exception">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="setCreditLimit" type="SetCreditLimit">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="creditLimitResponse" type="CreditLimitResponse">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="suspendCredit" type="SuspendCredit">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="restoreCredit" type="RestoreCredit">
    <xsd:annotation>
      <xsd:appinfo>
        <view:exclusive view="pretrade"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="orderStatusNotification" type="OrderStatusNotification"/>
  <xsd:element name="orderStatusReport" type="OrderStatusReport"/>
  <!-- Other existing messages used: serviceNotification -->
  <!-- ***************************************************************** -->
  <!-- Product Definitions Messages                                      -->
  <!-- ***************************************************************** -->
  <xsd:element name="requestProductDefinitions" type="RequestProductDefinitions">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The primary use case for this message is for an execution venue customer to request product definitions of all, or a subset of, products that the execution venue supports.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="requestProductDefinitionsRetracted" type="RequestProductDefinitionsRetracted">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Message to cancel the product definition request message sent by the execution venue customer to the execution venue.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="productDefinitionsReport" type="ProductDefinitionsReport">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The primary use case for this message is for an execution venue to report all, or a subset of, product definitions that it supports to its customer.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="productDefinitionsException" type="Exception">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A message sent to inform another system that some exception has been detected with the product definitions messages.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="productDefinitionsAcknowledgement" type="Acknowledgement">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A business acknowledgement message to indicate that the previously sent message was sucessfully processed.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
